html {
  background-image: linear-gradient(to right, #5f5059, #715d6f, #7f6b88, #887ba3, #8c8dc0, #8c8dc0, #8c8dc0, #8c8dc0, #887ba3, #7f6b88, #715d6f, #5f5059);
}

.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font: 'Roboto';
  background-size: auto;
}

.timelineUser {
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255,255,255,.10);
  border-radius: 20px;
}

button {
  border-radius: 5px;
  border: none;
  background-color: azure;
  font: 'Roboto';
  font-kerning: auto;
}

.signUp {
  display: flex;
  flex-direction: column;
}

.reviewSubmit {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(255,255,255,.10);
  border-radius: 25px;
}

.filmTitle {
  background-color: rgba(41, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.filmRating {
  background-color: rgba(45, 83, 83, 0.5);
  border-radius: 25px;
  color: rgb(224, 219, 247);
  padding: 5px;
}

.submitComment {
  display: flex;
  flex-direction: column;
}

.reviewBody {
  size: 200px;
}

input {
  margin-bottom: 15px;
}

Link {
  text-decoration: none;
}

.navbarButton {
  border-radius: 5px;
  border: none;
  background-color: azure;
  font: 'Roboto';
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.filmRating {
  align-items: right;
}

form {
  background-color: rgba(41, 128, 128, 0.5);
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}

.reviews {
  background-color:  rgba(147, 239, 239,0.5);
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

.fullReview {
  margin: 50px;
  padding: 50px;
  background-color: rgb(147, 239, 239);
  border-radius: 15px;
}

.fullReviewComment {
  background-color: rgba(147, 239, 239,0.5);
  border-radius: 25px;
}

.commentDate {
  font-size: x-small;
}

.commenter {
  font-size: small;
}

.titleAndRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 + h1 {
  margin-left: 40px;
}

li {
  list-style-type: none;
}

.reviewSubmit {
display: flex;
flex-direction: column;
justify-content: center;
}

.signIn {
  display: flex;
  flex-direction: column;
}