/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filmTitle {
  display: flex;
  align-items: left;
}

.filmRating {
  display: flex;
  flex: 1;
  justify-content: right;
}

.userProfile {
  display: flex;
  flex: 1;
  align-items: left;
  font-size: small;
  margin: none;
}

.profilePic {
  transform: scale(.1,.1);
  margin: none;
  padding: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.navbarButton {
  padding: 15px;
}

.yourReviews {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex: 1;
} */